body {    
    margin: 0;
    padding: 0;
    background-image: url("https://www.wallpaperbetter.com/wallpaper/192/782/395/textured-dark-background-cracks-1080P-wallpaper.jpg");
}

header {
    /* background-color: #52e66bb4; */
    background: linear-gradient(to bottom, rgb(23, 87, 156), #6bdbc9a1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 75px;
    height: 75px;
    padding: 5px;
}

.logo a {
    margin-right: auto;
    text-decoration: none;
    color: black;
}

header {
    grid-area: header;
}

.social img {
    height: 2em;
    padding-right: 10px;
}

.menu {
    display: flex;
    justify-content: center;
    background-color: #6bdbc9a1;
    margin: 0;
}

.menu>li {
    list-style: none;
    padding: 10px;
}


main {
    height: 100vh;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.link:hover {
    color: white;
    background-color: rgba(119, 136, 153, 0.264);
    padding: 5px;
    border-radius: 5px;
}

.trailer {
    text-align: center;
    height: 350px;   
}

.tituloTrailer {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 2.5em;
}

.cabezaHome {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2em;
    padding-left: 10px;
    background-color: #6bdbc9a1;
}

.cabezaHome>h2 {
    margin-bottom: 5px;
}

.cabezaHome>p {
    margin-top: 2px;
    color: rgb(65, 65, 65);
    font-size: 1em;
}

.contenido {

    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 5px;
    margin: 0 auto;
    max-width: 80%;
}

.contenido img {
    border-radius: 5px;
    width: 100%;
}

article {
    width: 30%;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    background-color: #8eadf096;
}

footer {
    /* background-color: #52e66bb4; */
    background: linear-gradient(to top, rgb(23, 87, 156), #6bdbc9a1);
    padding: 10px;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

