.netflix-grid {
    display: grid;
    width: auto;
    margin: 0;
    box-shadow: 1px 1px 10px 1px black;
    gap: 5px;
    grid-template-columns: 60%;
    grid-template-areas: "header header"
        "navegacion navegacion"
        "netflix netflix-aside"
        "netflix1 netflix1"
        "netflix-aside1 netflix-aside1"
        "footer footer"
    ;
}

header {
    grid-area: header;
}

.navegacion {
    grid-area: navegacion;
}




.netflix {
    grid-area: netflix;
    color: black;
    border-right: 1px solid black;
    padding: 12px;
    background-color: #8eadf096;
}


.netflix1 {
    grid-area: netflix1;
    color: black;
    border-right: 1px solid black;
    padding: 12px;
    background-color: #8eadf096;
}


.netflix-aside {
    grid-area: netflix-aside;
    padding: 12px;
    background-color: #8eadf096;
}


.netflix-aside1 {
    grid-area: netflix-aside1;
    padding: 12px;
    background-color: #8eadf096;
}

.netflix2 {
    grid-area: netflix2;
    padding: 12px;
    background-color: #8eadf096;
}


.netflix-aside2 {
    grid-area: netflix-aside2;
    padding: 12px;
    background-color: #8eadf096;
}


footer {
    grid-area: footer;
}

.imgnet {
    width: 100%;
    height: auto;
}


.boton {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width:600px) {
    .netflix-grid {
        display: grid;
        grid-template-columns: 100%;
        gap: 5px;
        grid-template-areas: "header"
            "navegacion"
            "netflix"
            "netflix-aside"
            "netflix1"
            "netflix-aside1"
            "netflix2"
            "netflix-aside2"
            "footer"
        ;
    }

    .link {
        font-size: 15px;
    }

    .boton {

        color: rgb(0, 0, 0);
        font-family: 'Times New Roman', Times, serif;
        text-align: center;

    }

    iframe {

        width: 90%;
    }

    .contenido,
    article {

        flex-direction: column;
        width: auto;
    }
}

@media (min-width:900px) {

    .netflix-grid {

        display: grid;
        grid-template-columns: 60%;
        gap: 5px;
        grid-template-areas: "header header"
            "navegacion navegacion"
            "netflix netflix-aside"
            "netflix1 netflix-aside1"
            "netflix2 netflix-aside2"
            "footer footer"
        ;
    }

    .link {
        font-size: 15px;
    }
}


@media (min-width:1300px) {

    .netflix-grid {

        display: grid;
        grid-template-columns: 50% 50%;
        gap: 5px;
        grid-template-areas: "header header"
            "navegacion navegacion"
            "netflix netflix-aside"
            "netflix1 netflix-aside1"
            "footer footer"
        ;
    }

    .link {

        font-size: 15px;

    }



}