form {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 60vh;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.1em;
    margin: 50px auto;
    background-color: #ccc;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}

label {
    width: 100%;
    font-weight: bold;
}

input {
    width: 99.5%;
    padding: 5px 0;
    padding-left: 5px;   
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    outline: 0px;
}

label + input:focus {    /* (+) Selector adyacente (hermanos) */
    outline: 2px solid rgb(252, 169, 67);
}

.boton {
    width: 100%;
    padding: 8px 5px;
    margin-top: 32px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
    transition: background-color 0.2s ease;
}

.boton:hover {
    cursor: pointer;
    background-color: rgb(65, 65, 65);
    border: none;
    padding: 9px 5px;
    outline: 0px;
}

.boton:active {
    background-color: rgb(247, 205, 154);
    color: black;
    font-weight: bold;
    outline: 0px;

}

textarea {
    width: 99.5%;
    height: 50%;
    padding: 5px 0;
    padding-left: 5px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    resize: none;
    outline: 0px;
}

textarea:focus {    
    outline: 2px solid rgb(252, 169, 67);
}
