.netflix-grid {

    display: grid;
    width: 95%;
    margin: auto;
    box-shadow: 1px 1px 10px 1px black;
    gap: 5px;
    grid-template-columns: 60%;
    grid-template-areas: "header header"
        "navegacion navegacion"
        "netflix netflix-aside"
        "footer footer"
    ;
}

header {

    grid-area: header;


}

.navegacion {

    grid-area: navegacion;

}




.netflix {

    grid-area: netflix;
    color: black;
    border-right: 1px solid black;
    padding: 12px;


}

.netflix-aside {

    grid-area: netflix-aside;
    padding: 12px;

}

.videos {

    grid-area: videos;
    border: 1px solid black;
}

footer {

    grid-area: footer;
    border: 1px solid black
}

.imgnet {

    width: 100%;
    height: auto;
}


.boton {

    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    
}




@media (max-width:600px) {

    .netflix-grid {

        display: grid;
        grid-template-columns: 100%;
        gap: 5px;
        grid-template-areas: "header"
            "navegacion"
            "netflix"
            "netflix-aside"
            "footer"
        ;
    }


    .link {

        font-size: 15px;

    }

    .boton {

        color: rgb(0, 0, 0);
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        
    }



}



@media (min-width:900px) {

    .netflix-grid {

        display: grid;
        grid-template-columns: 60%;
        gap: 5px;
        grid-template-areas: "header header"
            "navegacion navegacion"
            "netflix netflix-aside"
            "footer footer"
        ;
    }

    .link {

        font-size: 15px;

    }



}