body {

    background-color: #2222f2bb;
    margin: 0;
    padding: 0;

}

header {

    background-color: #06095fb0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo img {

    width: 75px;
    height: 75px;
    padding: 5px;

}

.logo a {

    margin-right: auto;
    text-decoration: none;
    color: black;
}

header {

    grid-area: header;
}

.social img {

    height: 2em;
    padding-right: 10px;
}

.menu {

    display: flex;
    justify-content: center;
    background-color:#2644c8a1;
    margin: 0;
    font-size: 20px;

}

.menu > li {

    list-style: none;
    padding: 10px;
}

.link {

    text-decoration: none;
    color: black;
}

.link:hover {
    color: white;
    background-color: rgba(119, 136, 153, 0.264);
    padding: 5px;
    border-radius: 5px;
}

.trailer {
    text-align: center;
}

.tituloTrailer {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: center;
    font-size: 2.5em;
}

.cabezaHome {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2em;
    padding-left: 10px;
    background-color: #2222f2bb;


}

.cabezaHome > h2 {
    margin-bottom: 5px;
}

.cabezaHome > p {
    margin-top: 2px;
    color: rgba(199, 199, 199, 0.661);
    font-size: 1em;
}

.contenido {
    display:flex;
    text-align: center;
    justify-content: space-around;
    padding: 1%;   
}

.contenido img {    
    border-radius: 10px;
    width: 100%;

}

.contenido2{
    align-content: stretch;
}
article {
    width: 300px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    background-color: #242484d4;



}

footer {
    background-color: #06095fb0;
    padding: 10px;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}
